<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Email\Model\Template" type="Zorn\AutoInvoice\Model\Template" />
    <preference for="Magento\Email\Model\BackendTemplate" type="Zorn\AutoInvoice\Model\BackendTemplate" />
</config>